* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card .container {
  background-color: #23272F;
  border-radius: 25%;
  height:150px;
  width: 150px;
  margin-bottom: 10px;
}

.card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card h2 {
  color: #F6F7F9;
  padding-bottom: 10px;
}

.card p {
  color: #58C4DC;
  font-family: Verdana, sans-serif;
  padding-bottom: 10px;
  font-size: 12px;
}
.card {
  border: 1px solid #23272F;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #343A46;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 250px;
  background-color: #343A46;
}